/* Fundo geral */
body {
    background-color: #0f172a;
    color: #e2e8f0;
    font-family: 'Poppins', sans-serif;
}

/* --------- LOGO --------- */

/* Container da LOGO */
.logo-container {
    margin-bottom: 10px;
}

/* LOGO */
.login-logo {
    width: 380px;
    margin-bottom: 120px; /* SUBIU 40px */
}

/* --------- CARD DO LOGIN --------- */

/* Container do card */
.login-container {
    margin-top: -160px; /* SUBIU 40px */
    width: 420px;
}

/* Card */
.login-card {
    background-color: #1e293b;
    border: none;
    border-radius: 12px;
    padding: 30px;
}

/* Título */
.login-title {
    color: #38bdf8;
}

/* Inputs */
input.form-control {
    background-color: #ffffff !important;
    color: #000000 !important;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #334155 !important;
}

/* Placeholder */
input::placeholder {
    color: #555555 !important;
}

/* Foco */
input.form-control:focus {
    border-color: #38bdf8 !important;
    box-shadow: 0 0 8px rgba(56, 189, 248, 0.4) !important;
}

/* Botão */
.login-btn {
    background: #38bdf8;
    color: #0f172a;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
}

.login-btn:hover {
    opacity: 0.85;
}
