<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body class="d-flex flex-column justify-content-center align-items-center"
      style="min-height: 100vh; background-color:#0f172a;">

    <!-- LOGO -->
    <div class="logo-container">
        <img src="/static/img/logo.png" class="login-logo" alt="Logo">
    </div>

    <!-- CARD DE LOGIN -->
    <div class="login-container">
        <div class="card login-card shadow-lg">
            <h3 class="text-center mb-3 login-title">Login</h3>

            {% if erro %}
            <div class="alert alert-danger text-center">{{ erro }}</div>
            {% endif %}

            <form method="POST" action="/login">
                
                <input class="form-control mb-3" 
                       type="text" 
                       name="usuario" 
                       placeholder="Usuário" 
                       required>

                <input class="form-control mb-3" 
                       type="password" 
                       name="senha" 
                       placeholder="Senha" 
                       required>

                <button class="btn w-100 login-btn">Entrar</button>
            </form>
        </div>
    </div>

</body>
</html>
